{% extends '../base/base.html' %} {% comment %} {% block css %} {% load static
%}<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />{%
endblock css %} {% endcomment %} {% block content %}
<section id="home">
  <ul>
    {% for post in posts %}
    <li>
      <a href="{% url 'detailMore' post.pk %}">{{ post.content }}</a>
      <a href="{% url 'detailMore' post.pk %}">{{ post.title }}</a>

      {% if post.likes.all %}
      <a href="{% url 'detailMore' post.pk %}">{{ post.likes }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock content %}
