@charset 'utf-8';

.masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 13rem;
}



.normal-link {
    text-decoration: none;
    color: #FFFFFF;
}

.normal-link:hover, .normal-link:active {text-decoration: none; color:#fff;}




.page-section {
    padding: 9rem 0;
}


.add.major, .add.subject, .edit.major, .delete.major {
    color: #FFFFFF;
    text-decoration: none;
}



.button.point {
    padding: 0rem 1.75rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: #760023;
    border-color: #760023;
    border: 0.125rem solid transparent;
}

.a-tag {
    text-decoration: none !important;
}

section {
    margin-top: 30rem;
}


.box-point {
    align-items: center;
}

.primaryAction {
    display: inline-block;
    display: inline;
    zoom: 1;
    margin: 0 2px 5px;
    padding: 0;
    overflow: hidden;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0;
    font-family: helvetica neue,helvetica,arial,sans-serif;
    width: 117px;
    height: 42px;
    margin: 0 2px 2px;
    background: rgb(250, 185, 0) url('../../assets/img/kakao-logo.png') no-repeat;
    background-size: 35px 35px;
    background-position: 2px 51%;
}
