{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'base.css' %}?v=0.1"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style.css' %}"
    />
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <title>My Blog</title>
  </head>

  <body>
    
    <div class="nav-bar">
      <a class="nav-item" href="{% url 'home' %}">HOME</a>
      {% if user.is_authenticated %}
      <div class="nav-item">ㅎㅇ {{ user.username }}</div>
      <a class="nav-item" href="{% url 'mypage' %}"> 마이페이지 </a>
      <a class="nav-item" href="{% url 'logout' %}">로그아웃</a>
      {% else %}
      <a class="nav-item" href="{% url 'login' %}">로그인</a>
      <a class="nav-item" href="{% url 'signup' %}">회원가입</a>
      {% endif %}
      
    </div>
    {% block content %}
    <div id="root"></div>
    {% endblock content %}
  </body>
<script src={% static 'js/index.js' %}></script>
</html>
